* {
    font-family: 'Kaisei Opti', serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

body{
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 14%;
    letter-spacing: 15px;
    line-height: 80px;
}

h4{
    font-size: 15px;
    margin-bottom: 70px;
    margin-left: 14%;
    letter-spacing: 5px;
    line-height: 32px;
}

.title-right img{
    width: 350px;
    height: 350px;
    margin-top: 25px;
    text-align: right;
    margin-right: 150px;
}

.title-left img{
    width: 70px;
    height: 140px;
    transform: rotate(30deg);
    margin-top: -200px;
    margin-left: 560px;
}

.title-left{
    display: block;
    flex-basis: 1000px;
}

.title{
    display: flex;
    margin-bottom: 50px;
}

.backnumber img{
    height: 300px;
    width: 220px;
    margin-left: 27px;
    flex: none;
    margin-bottom: 40px;
}

.backnumber {
    display: flex;
    flex-wrap: wrap;
}

.scale img{
    transition-duration: 0.5s;
}

.scale:hover img{
    transform: scale(1.07);
    transition-duration: 0.5s;
}